#division1{
    border: 10px solid black;
    background-color: aqua;
    padding:20px;
    background-clip:padding-box;
}
#division2{
    border: 10px solid black;
    background-color: aqua;
    padding:20px;
    background-clip:border-box;
}
#division3{
    border: 10px solid black;
    background-color: aqua;
    padding:20px;
    background-clip:content-box;
}
#division4{
    height:400px;
    width:650px;
    border: 10px solid black;
    background-image:url('image.jpg'),url('image2.jpg');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: 0px 0px,220px 0px;
}
#division5{
    height:200px;
    width:300px;
    border:2px solid red;
}
p{
    margin-left: 200px;
    margin-right: 250px;
    margin-right: 150px;
}